.products_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products_flex_item {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.products_img {
  max-width: 350px;
}
